<ion-header no-elevation>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">


  <div class="image-background"></div>
  <ion-grid>
    <ion-row>
      <h3 class="text-red">ABOUT BSUPLA</h3>
      <p class="text-justify">
        The Batangas State University Parking Lot App, or,
        <span class="text-red"> BSUPLA</span> is an application that allows
        students, faculty, and university employees to manage their parking
        behaviors more effectively and efficiently. It allows the user to not
        only automatically detect parking spots at parking spaces, but also
        reserve parking lots of your choice, as well as notify the user which
        number is coded or prohibited from entering the premises to park at
        their designated parking lot. Furthermore, a Batangas State University
        Parking Lot App, or BSUPLA, must be implemented in order to increase the
        occupancy rate of the car park, have a better picture of the number of
        vehicles already present, and thus the number of available spots.
      </p>
    </ion-row>

    <ion-row>
      <h3 class="text-red">University Mission</h3>

      <p class="text-justify">
        A university committed to producing leaders by providing a 21st century
        learning environment through innovations in education, multidisciplinary
        research, and community and industry partnerships in order to nurture
        the spirit of nationhood, propel the national economy, and engage the
        world for sustainable development.
      </p>
    </ion-row>
    <ion-row>
      <h3 class="text-red">University Vision</h3>

      <p class="text-justify">
        A premier national university that develops leaders in the global knowledge economy.
      </p>
    </ion-row>
  </ion-grid>
</ion-content>
