

    


ion-content{
    --background:white;
    position: relative;
    ion-toolbar{
        --background:transparent;
        box-shadow: none;
        position: absolute;
        top: 0;
        left: 0;

    }
    

    .container{
        position: relative;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;


        .login-form{
            header{
                width:100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

            }

            
            .input{
                border-radius: 5px;
                width: 100%;
                --background:var(--ion-color-light-tint);
            }
            .checkbox{
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 10px;
            }
        }
    }
}