



<ion-content [fullscreen]="true" class="">
  <ion-toolbar >
    <ion-buttons class="ion-no-border" slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>My saved Recipes</ion-title> -->
  </ion-toolbar>
  <div class="image-background"></div>
  <div class="container">

    <div class="login-form ion-padding">
      <ion-card class="ion-padding">
        <ion-card-header>
          <div class="icon">
            <ion-icon name="people-outline" size="large" color="success"></ion-icon>
          </div>
            
          <ion-card-title>Admin Login</ion-card-title>
        </ion-card-header>
        <form action="">
          
        
          <ion-item class="ion-margin-bottom input">
            <ion-label position="floating">User</ion-label>
            <ion-input  [(ngModel)]="srcode" name="srcode"type="text" ></ion-input>
          </ion-item>
          <ion-item class="ion-margin-bottom input">
            <ion-label position="floating">Password</ion-label>
            <ion-input #input [(ngModel)]="password" name="password" type="password"  ></ion-input>
          </ion-item>
          <div class="ion-margin-bottom checkbox">
            <ion-checkbox (click)="showPassword(input)"></ion-checkbox>
            <ion-label >Show Password</ion-label>

          </div>
          <ion-button (click)="login()" expand="block" type="submit" color="danger" class="ion-no-margin">Login</ion-button>
          
        </form>
        
      </ion-card>

    </div>
    

  </div>
 
  
</ion-content>
